<div class="mian-content">
    <!-- header -->
    <header class="sticky">
      <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="logo text-left">
          <h1>
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/logo.png" alt="" class="img-fluid">The Celebration</a>
          </h1>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
  
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto text-lg-right text-center">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/main">Home
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu text-lg-left text-center" aria-labelledby="navbarDropdown">
                <a class="dropdown-item scroll" href="#services">Services</a>
                <a class="dropdown-item scroll" href="#products" title="">New Products</a>
                <a class="dropdown-item scroll" href="#news" title="">Company News</a>
                <a class="dropdown-item" href="about.html" title="">Team</a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="/galleryimg">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/single">single</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/productg">ProductGallery</a>
              </li>
          </ul>
          <!-- menu button -->
          <!-- <div class="menu">
            <a href="#" class="navicon"></a>
            <div class="toggle">
              <ul class="toggle-menu list-unstyled">
                <li>
                  <a href="index.html">Index Page</a>
                </li>
                <li>
                  <a class="scroll" href="#products">New Products</a>
                </li>
                <li>
                  <a href="gallery.html">Latest Cakes</a>
                </li>
                <li>
                  <a class="scroll" href="#order">Order Cake</a>
                </li>
                <li>
                  <a class="scroll" href="#faqs">Faqs</a>
                </li>
                <li>
                  <a href="contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div> -->
          <!-- //menu button -->
        </div>
      </nav>
    </header>
    <!-- //header -->
  
    <!-- banner -->
    <!-- main image slider container -->
    <div id="slider-main">
      <div class="banner-text-agile text-center">
        <div class="container">
          <h3 class="text-white font-weight-bold mb-3">The Celebration - Cake Shop In Pune</h3>
          <p class="text-light">Open today until 8:00 PM</p>
          <button type="button" class="btn btn-primary button mt-md-5 mt-4" data-toggle="modal" data-target=".bd-example-modal-lg">
            <!-- <span>Watch Our Video</span> -->
            <span>Shop Now</span>
          </button>
        </div>
      </div>
      <!-- previous button -->
      <button id="prev">
        <i class="fas fa-chevron-left"></i>
      </button>
  
      <!-- image container -->
      <div id="slider"></div>
  
      <!-- next button -->
      <button id="next">
        <i class="fas fa-chevron-right"></i>
      </button>
  
      <!-- small circles container -->
      <div id="circles"></div>
  
    </div>
    <!-- end of main image slider container -->
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalCenterTitle">Cake Bakery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-0">
            <iframe src="https://player.vimeo.com/video/58582025" style="border:none"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>