 <!-- gallery page -->
      <div class="gallery py-5">
          <div class="container py-xl-5 py-lg-3">
              <div class="title text-center mb-5">
                  <h2 class="text-dark mb-2">Gallery</h2>
                  <p>Browse Cakes By Flavour</p>
              </div>
              <div class="row w3ls_portfolio_grids">
                  <div class="col-sm-4 agileinfo_portfolio_grid">
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g1.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Black Forest</h3>
                                  </div>
                                  <img src="assets/images/g1.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g2.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Butterscotch</h3>
                                  </div>
                                  <img src="assets/images/g2.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g3.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Chocolate</h3>
                                  </div>
                                  <img src="assets/images/g3.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-sm-4 agileinfo_portfolio_grid">
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g4.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>fruit</h3>
                                  </div>
                                  <img src="assets/images/g4.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g5.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Pineapple</h3>
                                  </div>
                                  <img src="assets/images/g5.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g6.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Red Velvet</h3>
                                  </div>
                                  <img src="assets/images/g6.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="col-sm-4 agileinfo_portfolio_grid">
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g7.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Kit Kat</h3>
                                  </div>
                                  <img src="assets/images/g7.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g8.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Vanilla</h3>
                                  </div>
                                  <img src="assets/images/g8.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                      <div class="w3_agile_portfolio_grid1">
                          <a href="assets/images/g9.jpg" title="Cakes Bakery">
                              <div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">
                                  <div class="w3layouts_port_head">
                                      <h3>Strawberry</h3>
                                  </div>
                                  <img src="assets/images/g9.jpg" alt=" " class="img-fluid" />
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- //gallery page -->